.CountryPicker {
  text-align: center;
  margin: 30px 10px 20px 10px;
  padding: 10px;
  display: block;
  overflow: hidden;
}

.SelectInput {
  font-size: 17px;
  font-weight: normal;
  line-height: 1.5;
  text-decoration: none;
  outline: none;
  letter-spacing: 0.35px;
  word-spacing: 2.6px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #252830;
  border-radius: 2.5px;
  color: #004545;
  background-color: transparent;
  padding: 7px 11px;
}
